.title{
  margin-bottom: 36px;
}

h1{
  font-size: 52px;
  margin: 0 0 4px 0;
}

.p1{
  font-size: 32px;
  margin: 0 0 48px 0;
}

.p2{
  font-size: 16px;
  max-width: 450px;
  opacity: 0.8;
}

.main{
  border-radius: 8px;
  border-color: black;
  background-color: rgb(78, 78, 78);
  margin-bottom: 12px;
  margin-right: 12px;
  margin-left: 12px;
  padding: 24px;
}

.aboutAuthor{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img{
  aspect-ratio: 1/1;
  width: 50px;
  clip-path: circle(50% at 50% 50%);
  background-color: white;
}

.profile{
  aspect-ratio: 1/1;
  width: 350px;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.author{
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.social{
  display: flex;
  justify-content: space-evenly;
}