<mat-toolbar class="title" color="primary">
  <span class="title-center">O predmetu</span>
</mat-toolbar>

<div class="main">
  <div class="subject">
    <div class="aboutSubject">
      <h1>Razvoj viseslojnih aplikacija</h1>
      <p class="p1">Inzenjerstvo informacionnih sistema, FTN</p>
      <p class="p2">
        Cilj nastavnog predmeta je obrazovanje studenata u oblasti 
        razvoja viseslojnih aplikacija i savladjivanje metoda i 
        tehnika analize, projektovanja i implementacije. Posebna paznja 
        posvecuje se specificnostima razvoja viseslojnih aplikacija koje 
        karakterise skalabilnost i koje se izvrsavaju u distribuiranom okruzenju.
      </p>
    </div>
    <div class="picture">
      <img src="../../../../assets/ftn.png"/>
    </div>
  </div>
  <div class="subject">
    <div class="aboutSubject">
      <h1>Djordje Przulj</h1>
      <p class="p1">Profesor, FTN</p>
      <p class="p2">
        Diplomirao na Univerzitetu u Novom Sadu, Fakultet tehnickih nauka, masinski odsek.
        Magistrirao na Univerzitetu u Novom Sadu, Fakultet tehnickih nauka, smer za telematiku.
        Doktorsku disertaciju pod nazivom "Servisno orijentisana arhitektura 
        katastarskog informacionog sistema" odbranio 2013. 
      </p>
    </div>
    <div class="picture">
      <img src="../../../../assets/professor.jpg"/>
    </div>
  </div>
  <div class="subject">
    <div class="aboutSubject">
      <h1>Vladimir Fabri</h1>
      <p class="p1">Asistent, FTN</p>
      <p class="p2">
        Upisao je osnovne akademske 
        studije na Fakultetu tehnickih nauka 2017. godine, smer inzenjerski menadzment. 
        Diplomirao je sa prosecnom ocenom 9,70 i odbranio diplomski rad na temu „Implementacija 
        jedinicnih i integracionih testova u Spring boot aplikaciji“ 30.09.2021. sa ocenom 10.
      </p>
    </div>
    <div class="picture">
      <img src="../../../../assets/assistant.jpg"/>
    </div>
  </div>
</div>